In [ ]:
#Dost
#find the companies that fell below 1.8 ever
#how many times did it fall
#how long did it stay each time

In [1]:
directory="altman_z_all.xlsx"
import pandas as pd
import numpy as np

In [ ]:
#data=pd.read_excel(directory,encoding="latin-1", skiprows = [0,1,2,4], na_values = "#N/A N/A", sheet_name = "Sheet1", index_col = 0, header = None).dropna(axis = 1, how = "all").T

In [2]:


cols = pd.read_excel(directory, encoding="latin-1", skiprows = [0,1,2,4,5], na_values = ["#N/A N/A", "#N/A Review"], sheet_name = "Sheet1", header=None, nrows=1, index_col = 0).values[0]
data_r = pd.read_excel(directory, encoding="latin-1", skiprows = [0,1,2,4,5], na_values = ["#N/A N/A", "#N/A Review"], sheet_name = "Sheet1", index_col = 0).astype(np.float64)
data_r.columns = cols
data=data_r.dropna(axis=1,how="all")
data = data.loc[:,~data.columns.duplicated()]
dataT=data.T
display(data)

,AAPL UW Equity,BA UN Equity,CAT UN Equity,CSCO UW Equity,CVX UN Equity,DIS UN Equity,DOW UN Equity,HD UN Equity,IBM UN Equity,INTC UW Equity,...,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TRU SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,VOD SJ Equity,WBO SJ Equity,WHL SJ Equity
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.1399,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.1399,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-09-29,4.4231,NaN,NaN,43.6708,NaN,NaN,NaN,20.1399,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-12-29,3.5875,3.1656,1.9380,35.2297,3.4719,NaN,NaN,12.4573,3.2532,14.5086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-03-30,4.0048,3.1580,1.8400,28.2265,5.0354,3.4913,NaN,13.4790,3.3987,14.2808,...,3.0423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,4.2856,2.5734,2.7517,4.3370,3.2847,2.8412,2.2832,7.1234,3.8275,4.6974,...,4.6368,NaN,2.7638,8.3174,1.9890,0.5303,1.1043,3.2686,3.0382,4.3148
2019-09-30,4.1762,2.5033,2.7429,4.0302,3.1464,3.3574,2.1779,7.3263,5.0618,4.4841,...,3.4166,0.5816,2.3544,8.3174,1.0871,0.6091,1.0201,2.9063,3.0382,4.3148
2019-12-31,4.8997,1.9765,2.8107,4.0210,3.1449,3.3005,2.0196,7.6374,4.8462,4.9806,...,3.4166,0.5816,2.3544,4.0866,1.0871,0.6322,1.0201,2.9063,3.7696,2.1450
2020-03-31,4.5233,1.4045,2.6521,4.3360,2.5274,2.6305,1.7700,7.5781,4.5016,4.1601,...,2.7010,0.5941,1.6393,4.0866,1.0296,0.6102,0.4992,2.7143,3.7696,2.1450
2020-06-30,4.5233,1.4045,2.6521,3.9004,2.5274,2.6305,1.8280,6.5338,4.5190,4.4275,...,2.7010,0.5941,1.6393,4.0866,1.0296,0.6102,0.4992,2.7143,3.7696,2.1450

In [3]:

data_lower = data.where(data<=1.8)
data_lower = data_lower.dropna(axis=1,how="all")
#data_lower.to_csv("data_lower.csv")

columns_to_keep=list(data_lower.columns)
data_filtered=data.filter(columns_to_keep,axis=1)
display(data_filtered)

,BA UN Equity,CAT UN Equity,CVX UN Equity,DOW UN Equity,VZ UN Equity,1COV GY Equity,BAYN GY Equity,BMW GY Equity,CON GY Equity,DAI GY Equity,...,SSW SJ Equity,STP SJ Equity,SUI SJ Equity,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,WBO SJ Equity
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-12-29,3.1656,1.9380,3.4719,NaN,1.6739,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-03-30,3.1580,1.8400,5.0354,NaN,1.5789,NaN,3.0633,NaN,2.3551,NaN,...,NaN,NaN,NaN,3.0423,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,2.5734,2.7517,3.2847,2.2832,2.3824,2.7582,2.5566,1.1596,2.8367,1.0932,...,0.7997,1.0466,1.1528,4.6368,NaN,2.7638,1.9890,0.5303,1.1043,3.0382
2019-09-30,2.5033,2.7429,3.1464,2.1779,2.4387,3.1012,2.4250,1.1394,2.4193,1.1058,...,0.7997,1.0055,1.1528,3.4166,0.5816,2.3544,1.0871,0.6091,1.0201,3.0382
2019-12-31,1.9765,2.8107,3.1449,2.0196,2.4942,2.5134,2.5539,1.1811,2.3175,1.1012,...,1.8415,1.0055,1.5705,3.4166,0.5816,2.3544,1.0871,0.6322,1.0201,3.7696
2020-03-31,1.4045,2.6521,2.5274,1.7700,2.3781,2.6337,3.0956,1.1707,2.1120,1.0207,...,1.8415,1.3498,1.5705,2.7010,0.5941,1.6393,1.0296,0.6102,0.4992,3.7696
2020-06-30,1.4045,2.6521,2.5274,1.8280,2.4488,1.9353,3.0956,1.1707,2.1120,0.9930,...,1.8415,1.3498,1.5705,2.7010,0.5941,1.6393,1.0296,0.6102,0.4992,3.7696

In [4]:
data_test = data_lower

In [ ]:
data_lower

In [5]:
data_test = data_lower.notna().applymap(lambda x: 1 if x else 0)
data_test

,BA UN Equity,CAT UN Equity,CVX UN Equity,DOW UN Equity,VZ UN Equity,1COV GY Equity,BAYN GY Equity,BMW GY Equity,CON GY Equity,DAI GY Equity,...,SSW SJ Equity,STP SJ Equity,SUI SJ Equity,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,WBO SJ Equity
2000-03-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-09-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-12-29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2001-03-30,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,0,0,0,0,0,0,0,1,0,1,...,1,1,1,0,0,0,0,1,1,0
2019-09-30,0,0,0,0,0,0,0,1,0,1,...,1,1,1,0,1,0,1,1,1,0
2019-12-31,0,0,0,0,0,0,0,1,0,1,...,0,1,1,0,1,0,1,1,1,0
2020-03-31,1,0,0,1,0,0,0,1,0,1,...,0,1,1,0,1,1,1,1,1,0
2020-06-30,1,0,0,0,0,0,0,1,0,1,...,0,1,1,0,1,1,1,1,1,0

In [6]:
data_test_applied = data_test.apply(lambda y: y * (y.groupby((y != y.shift()).cumsum()).cumcount() + 1))

In [ ]:
#data_test_applied.to_csv("counted_list.csv")

In [ ]:
#The longest these companies have stayed below altman-z-score of 1.8
longest_under = data_test_applied.apply(lambda x: x.max()).sort_values(ascending = False).to_frame()
longest_under

In [16]:
#prototype for seeing the length of the consecutive quarters below 1.8

#data_first_time = data_test_applied["SO UN Equity"].value_counts().sort_values().to_frame()

data_first_time = data_test_applied.apply(lambda x: x.value_counts().sort_values())
display(data_first_time)

,BA UN Equity,CAT UN Equity,CVX UN Equity,DOW UN Equity,VZ UN Equity,1COV GY Equity,BAYN GY Equity,BMW GY Equity,CON GY Equity,DAI GY Equity,...,SSW SJ Equity,STP SJ Equity,SUI SJ Equity,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,WBO SJ Equity
0,80.0,69.0,81.0,80.0,45.0,80.0,81.0,19.0,75.0,14.0,...,60.0,60.0,39.0,80.0,78.0,66.0,74.0,31.0,52.0,58.0
1,1.0,3.0,1.0,2.0,7.0,1.0,1.0,1.0,2.0,1.0,...,3.0,1.0,10.0,1.0,1.0,6.0,3.0,1.0,3.0,12.0
2,1.0,2.0,NaN,NaN,3.0,1.0,NaN,1.0,1.0,1.0,...,3.0,1.0,10.0,1.0,1.0,6.0,3.0,1.0,3.0,12.0
3,NaN,2.0,NaN,NaN,2.0,NaN,NaN,1.0,1.0,1.0,...,3.0,1.0,2.0,NaN,1.0,2.0,1.0,1.0,3.0,NaN
4,NaN,2.0,NaN,NaN,2.0,NaN,NaN,1.0,1.0,1.0,...,3.0,1.0,2.0,NaN,1.0,2.0,1.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#prototype: number of times the company first fell below 1.8
data_falls = len(data_test_applied[data_test_applied["BA UN Equity"] == 1])
data_falls

1

In [10]:
data_test_applied["BA UN Equity"].sum()

3

In [14]:
data_test_applied

,BA UN Equity,CAT UN Equity,CVX UN Equity,DOW UN Equity,VZ UN Equity,1COV GY Equity,BAYN GY Equity,BMW GY Equity,CON GY Equity,DAI GY Equity,...,SSW SJ Equity,STP SJ Equity,SUI SJ Equity,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,WBO SJ Equity
2000-03-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-09-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000-12-29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2001-03-30,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,0,0,0,0,0,0,0,59,0,64,...,11,18,15,0,0,0,0,47,8,0
2019-09-30,0,0,0,0,0,0,0,60,0,65,...,12,19,16,0,1,0,1,48,9,0
2019-12-31,0,0,0,0,0,0,0,61,0,66,...,0,20,17,0,2,0,2,49,10,0
2020-03-31,1,0,0,1,0,0,0,62,0,67,...,0,21,18,0,3,1,3,50,11,0
2020-06-30,2,0,0,0,0,0,0,63,0,68,...,0,22,19,0,4,2,4,51,12,0