In [1]:
# predefinitions
import pandas as pd
directory="altman z_all(sheet1-2).xlsx"
fail_condition = 1.8 #must be equal or belw this number
naValues=["#N/A N/A", "#N/A Review"]

In [2]:
def getCompanyFailHistory(filename, sheet, failCond, skipRows, naValues=None):
    """
    Generates a Data Frame from a table of altman z values of companies
    Weeds out companies that are considered not to have "failed" in the past
    
    :param filename: an Excel file (.xlsx) containing a table of companies and
                    their altmen z values according to dates
    :type filename: str
    :param sheet: Name of the sheet to extract from the file
    :type sheet: str
    :param failcond: a company which has ever had an alttman z value less than
                    or equal to this number will be considered to have "failed"
                    in the past
    :type failcond: float
    :param skipRows: a list of indexes, indicating which rows to skip from the
                    top of the file
    :type skipRows: list of int >= 0
    :param naValues: values in the given table that are to be considered "NaN"
    :type naValues: scalar, str, list-like, or dict, default None
    
    :returns: A Data Frame containing altman z values of  companies that have
                "failed" in the past
    :rtype: pandas.DataFrame
    
    Example:
    >> getCompanyFailHistory("altman z_all(sheet1-2).xlsx","Sheet1", 1.8, [0,1,2,4,5],
                             ["#N/A N/A", "#N/A Review"])
    """
    # extracting data
    cols = pd.read_excel(filename, encoding="latin-1", skiprows = skipRows,
                         na_values = naValues, sheet_name = sheet,
                         header=None, nrows=1, index_col = 0).values[0]
    data = pd.read_excel(filename, encoding="latin-1",
                           skiprows = skipRows, na_values = naValues,
                           sheet_name = sheet, index_col = 0)
    
    # modificatons on the extracted data
    data.columns = cols # rename columns
    data=data.dropna(axis=1,how="all") # drop columns with no values
    data = data.loc[:,~data.columns.duplicated()] # drop duplicated columns
    
    # weeding out companies that don't fail
    data_lower = data.where(data<=failCond)
    data_lower = data_lower.dropna(axis=1,how="all")
    columns_to_keep=list(data_lower.columns)
    data=data.filter(columns_to_keep,axis=1)
    return data

In [4]:
df=getCompanyFailHistory("altman z_all(sheet1-2).xlsx", "Sheet1", 1.8, [0,1,2,4,5],
                      ["#N/A N/A", "#N/A Review"])
display(df)

,BA UN Equity,CAT UN Equity,CVX UN Equity,DOW UN Equity,VZ UN Equity,1COV GY Equity,BAYN GY Equity,BMW GY Equity,CON GY Equity,DAI GY Equity,...,SSW SJ Equity,STP SJ Equity,SUI SJ Equity,TFG SJ Equity,TGO SJ Equity,TKG SJ Equity,TSG SJ Equity,TXT SJ Equity,VKE SJ Equity,WBO SJ Equity
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-12-29,3.1656,1.9380,3.4719,NaN,1.6739,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-03-30,3.1580,1.8400,5.0354,NaN,1.5789,NaN,3.0633,NaN,2.3551,NaN,...,NaN,NaN,NaN,3.0423,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,2.5734,2.7517,3.2847,2.2832,2.3824,2.7582,2.5566,1.1596,2.8367,1.0932,...,0.7997,1.0466,1.1528,4.6368,NaN,2.7638,1.9890,0.5303,1.1043,3.0382
2019-09-30,2.5033,2.7429,3.1464,2.1779,2.4387,3.1012,2.4250,1.1394,2.4193,1.1058,...,0.7997,1.0055,1.1528,3.4166,0.5816,2.3544,1.0871,0.6091,1.0201,3.0382
2019-12-31,1.9765,2.8107,3.1449,2.0196,2.4942,2.5134,2.5539,1.1811,2.3175,1.1012,...,1.8415,1.0055,1.5705,3.4166,0.5816,2.3544,1.0871,0.6322,1.0201,3.7696
2020-03-31,1.4045,2.6521,2.5274,1.7700,2.3781,2.6337,3.0956,1.1707,2.1120,1.0207,...,1.8415,1.3498,1.5705,2.7010,0.5941,1.6393,1.0296,0.6102,0.4992,3.7696
2020-06-30,1.4045,2.6521,2.5274,1.8280,2.4488,1.9353,3.0956,1.1707,2.1120,0.9930,...,1.8415,1.3498,1.5705,2.7010,0.5941,1.6393,1.0296,0.6102,0.4992,3.7696

In [72]:
# extracting data
cols = pd.read_excel(directory, encoding="latin-1", skiprows = [0,1,2], na_values = naValues, sheet_name = "Sheet1", header=None, nrows=1, index_col = 0).values[0]
data_r = pd.read_excel(directory, encoding="latin-1", skiprows = [0,1,2,4,5], na_values = naValues, sheet_name = "Sheet1", index_col = 0)

In [73]:
# modificatons on the extracted data
data_r.columns = cols # rename columns
data=data_r.dropna(axis=1,how="all") # drop columns with no values
data = data.loc[:,~data.columns.duplicated()] # drop duplicated columns

In [86]:
# weeding out companies that don't fail
data_lower = data.where(data<=1.8)
data_lower = data_lower.dropna(axis=1,how="all")
columns_to_keep=list(data_lower.columns)
data=data.filter(columns_to_keep,axis=1)

In [87]:
data.columns

Index(['BA UN Equity', 'CAT UN Equity', 'CVX UN Equity', 'DOW UN Equity',
       'VZ UN Equity', '1COV GY Equity', 'BAYN GY Equity', 'BMW GY Equity',
       'CON GY Equity', 'DAI GY Equity',
       ...
       'SSW SJ Equity', 'STP SJ Equity', 'SUI SJ Equity', 'TFG SJ Equity',
       'TGO SJ Equity', 'TKG SJ Equity', 'TSG SJ Equity', 'TXT SJ Equity',
       'VKE SJ Equity', 'WBO SJ Equity'],
      dtype='object', length=3971)